<br/>
<%= render 'layouts/navfront' %>

<h1 class="page-header">Steps</h1>
<% if current_admin_user %>
<div class="pull-right">
<%= link_to new_step_path, :class => "btn btn-primary" do %>
  <i class="fa fa-plus"></i>&nbsp;
  New Step
<% end %>
</div>
<% end %>
<div class="clearfix"></div>

<div class="table-responsive">
  <table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Completed</th>
      <th>Course ID</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @steps.each do |step| %>
      <tr>
        <td><%= step.name %></td>
        <td class="desc"><%= step.description %></td>
        <td><%= step.completed %></td>
        <td><%= step.course_id %></td>
        <% if current_admin_user %>
        <td class="twoh"><%= link_to step, :class => "btn btn-default btn-xs" do %>
              <i class="fa fa-search"></i>&nbsp; View
            <% end %>&nbsp;
        <%= link_to edit_step_path(step), :class => "btn btn-default btn-xs" do %>
              <i class="fa fa-edit"></i>
            <% end %>&nbsp;
       <%= link_to step, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-default btn-danger btn-xs" do %>
              <i class="fa fa-trash-o"></i>
            <% end %></td>
            <% else %>
            <td class="oneh"><%= link_to step, :class => "btn btn-default btn-xs" do %>
              <i class="fa fa-search"></i>&nbsp; View
            <% end %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
