<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "Epic U", root_path, :class => "navbar-brand" %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <% if user_signed_in? %>
        
        <% else %>
        
        <% end %>
      </ul>
      
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
        <li><%= link_to "Courses", courses_path %></li>
        <!--<li><%= link_to "Steps", steps_path %></li>-->
          <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= gravatar_tag current_user.email %>&nbsp;&nbsp;<span class="account-email"><%= "#{current_user.email}" %></span> <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><%= link_to edit_user_registration_path do %>
              <i class="fa fa-gear"></i>&nbsp;&nbsp; Account Settings
            <% end %>
            </li>
            <li><%= link_to edit_user_registration_path do %>
              <i class="fa fa-lightbulb-o"></i>&nbsp;&nbsp; Ideas &amp; Feedback
            <% end %>
            </li>
            <li><%= link_to invite_path do %>
              <i class="fa fa-group"></i>&nbsp;&nbsp; Invite Friends
            <% end %>
            </li>
            
            
            <li class="divider"></li>
            <li><%= link_to destroy_user_session_path, method: :delete do %>
              <i class="fa fa-sign-out"></i>&nbsp;&nbsp; Sign Out
            <% end %>
            </li>
            
          </ul>
        </li>
          <li></li>
        <% else %>
          <li><%= link_to "Sign in", new_user_session_path %></li>
          <li><a href="#"><strong>Enroll Today for Only $99</strong></a></li>
        <% end %>
        
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


<div class="row">
  <div class="col-md-12">
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>

    <% flash.each do |name,msg| %>
      <%= content_tag(:div, msg, class: "alert alert-info") %>
    <% end %>
  </div>
</div>